*{
    font-family: 'Bebas Neue', 'serif';
}

.outer-heading{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-heading{
    margin-top: 20px;
    margin-left: 20px;
    height: 25px;
    line-height: 30px;
    overflow: hidden;
}
.inner-heading span{
    font-size: 30px;
    box-sizing: border-box;
    color: rgb(219, 3, 3);
    position: relative;
    animation: animation 5s ease infinite;
}
@keyframes animation{
    0%
    , 100%{
        top: 0;
    }
    20%{
        top: 0;
    }
    33%{
        top: -35px;
    }
    50%{
        top: -35px;
    }
    66%{
        top: -70px;
    }
    90%{
        top: -70px;
    }
}